*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* share style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto; 
}
.btn{
    border: none;
    padding: 18px 35px;
    border-radius: 6px;
    background:rgb(78, 71, 255);
    font-size: 18px;
    font-weight: bold;
    color: aliceblue;
    cursor: pointer;   
}

.btn-1{
    border: none;
    padding: 18px 35px;
    border-radius: 6px;
    background:rgb(78, 71, 255);
    font-size: 18px;
    font-weight: bold;
    color: aliceblue;
    cursor: pointer;

}

.logo h1{
    text-align: left;
    align-content: left;
    color: rgb(31, 31, 31);
    font-weight: 800;
    font-size: 45px;
}
.logo-color{
    color: rgb(78, 71, 255);
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h1{
    font-size: 35px;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color:#757575;

}
.container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
.text-center{
    text-align: center;
    margin-top: 50px;
}

/* main Style */
header{
    background-color: rgb(245, 247, 255);
    background: url("imagep/developer.png"), url("imagep/header_bg2.png"),rgb(245, 247, 255);
    background-repeat: no-repeat;
    background-position: 23px 25px,bottom right ;
    padding-top: 50px;
   
}
img {
    max-width: 100%;
    height: auto;
}


nav{
    width: 71%;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
nav .menubar{
    display: flex;
    list-style-type: none;
    gap:51px;
    align-items: center;
}


nav li a{
    text-decoration: none;
    color:#474747 ;
}

#banner{
 
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1140px;
    margin:50px auto ;
   
   

}
#banner .banner-content{
    max-width: 585px ;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20x;
    text-align: left;
}
#banner .banner-content p{
    font-size: 18px;
    color: #474747;
    line-height: 30px;
    margin-bottom: 30px;
}



#banner .banner-image img{
    max-width: 100%;
    height: auto;
    margin-left: 130px;
    margin-right: auto;
    vertical-align: middle;

   
    
    
    
}
.btn-gap{
    gap:20px;
}

#about, #skills, #resume{
    padding-top: 130px;
}
.about-container{
    text-align: center;
    padding: 130px 156px;
    background-color: rgb(236, 239, 253);
    border-radius: 8px;
  

}
.about-container .about-info{
    display: flex;
    justify-content: space-around;
}
.info-card p{
    font-size: 1.25rem;
    line-height: 30px;
    color: #757575;
}
.info-card h4{
    font-size: 1.25rem;

}

#skills .skills-container .skill-box{
    display: flex;
    gap: 24px;
}


.skill-box .skill-card {
    padding: 30px;
    /* border: 1px solid red; */
    box-shadow: 0 6px 50px 0 #00000020;
    max-width: 267px;
}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3{
    font-size: 1.8rem;
    color: #181818;
    margin-bottom: 20px;

}

.skill-card p{
    font-size: 1rem;
    color: #757575;
    line-height: 28px;
}

#resume .resume-container {

    margin-top: 113px;
    display: flex;
    gap: 24px;
}

.resume-container hr {
    margin: 30px 0
}

.resume-container .section-title {
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}

.resume-card {
    max-width: 511px;
    margin-right: 47px;
}

.resume-card .card-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747
}

.resume-card .card-info {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}

.resume-card .card-text {
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

footer{
    margin-top: 100px;
    padding: 100px 0;
    background-color: rgb(236, 239, 253);
}
.footer-container{
    display: flex;
    
    gap: 120px;
}
.social{
    max-width: 562px;
}
.social h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}
.social p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    margin-bottom: 30px;
}

.form h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 28px;
}
.icons a{
    margin-right: 15px;
}



form input[type="name"],form input[type="email"], form textarea{
    color: #757575;
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border-radius: 6px;
    border: none;
}

.last{
    width: 100%;
    background: rgb(78, 71, 255);
    padding: 20px;
    text-align: center;
    color: aliceblue;
    font-size: 10px;
}
    

#banner .banner-image{
    max-width: 585px;

}




/*  max-width: 576px */
@media screen and (max-width: 576px) {
    .btn{
        
        flex-direction: column;
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;
    }

    .about-container{
        
        padding: 20px;

    }
    .about-info{
        flex-direction: column;
    }
    .info-card{
        margin-bottom: 10%;
    }

    #about, #skills, #resume{
    padding-top: 50px;

    }

    .container{
    width: 90%;
    margin: 0 auto;

    }

    #skills .skills-container .skill-box{
    flex-direction: column;
    gap: 10px;
    
}
.skill-box .skill-card {
    max-width: 100%;
    margin: 5px;
    flex-wrap: wrap;
}

.section-heading{
    text-align: center;
    margin: 0 auto;
}


.footer-container, .resume-container, nav, .menubar, #banner{
    flex-direction: column;
    
   
}
.footer-container{
   
    
    gap: 90px;
}
#resume .resume-container{
    margin-top: 40px;
}


form input[type="name"],form input[type="email"], form textarea{
    max-width: 100%; 
}
.resume-container{
    margin-top: 20px;
}
.menubar{
    margin: 40px;
}
#banner{
    margin: 20px;
    text-align: center;
   
}
.banner-content h1{
    margin-bottom: 10px;
}
#banner .banner-content h1{
    font-size: 45px;
   
    text-align: center;
    

}
#banner .banner-image img{
    width: 90%;
    margin: 0 auto;
    height: auto;
}

.last{
    width: 100%;
}
.btn-1{
    margin: 0 auto;
    display: block;
    margin-top: 10px;

}
header{
   background: url("imagep/header_bg2.png"),rgb(245, 247, 255);
   background-repeat: no-repeat;
   background-position: bottom right ;
   background-size: contain;
  
}
}
