*{
    padding: 0px;
    margin: 0px;
}
/* share style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto; 
}
.btn{
    border: none;
    padding: 18px 35px;
    border-radius: 6px;
    background:rgb(78, 71, 255);
    font-size: 18px;
    font-weight: bold;
    color: aliceblue;
    cursor: pointer;
}

.logo h1{
    text-align: left;
    align-content: left;
    color: rgb(31, 31, 31);
    font-weight: 800;
    font-size: 45px;
}
.logo-color{
    color: rgb(78, 71, 255);
}


/* main Style */
header{
    background-color: rgb(245, 247, 255);
    background: url("../web-portfolio-practice/imageportfolio/developer.png"), url("../web-portfolio-practice/imageportfolio/header_bg2.png"),rgb(245, 247, 255);
    background-repeat: no-repeat;
    background-position: top left,bottom right ;
    padding-top: 50px;
}


nav{
    width: 71%;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
nav .menubar{
    display: flex;
    list-style-type: none;
    gap:51px;
    align-items: center;
}


nav li a{
    text-decoration: none;
    color:#474747 ;
}

#banner{
 
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center

}
#banner .banner-content{
    max-width: 585px ;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20x;
}
#banner .banner-content p{
    font-size: 18px;
    color: #474747;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image{
    max-width: 585px;
}
